.info {
  display: inline;
}

table.infotable {
  background-color: #cccccc;
  border-spacing: 2px;
  margin: 0 auto;
}

table.infotable th {
  text-align: left;
  font-size: 11pt;
  font-weight: normal;
  white-space: normal;
}
